.u-section-1 .u-sheet-1 {min-height: 708px}
.u-section-1 .u-text-1 {margin: 33px auto 0 393px}
.u-section-1 .u-text-2 {margin: 11px auto 0}
.u-section-1 .u-custom-html-1 {min-height: 457px; width: 913px; margin: 51px auto 60px} 

@media (max-width: 1199px){ .u-section-1 .u-text-1 {margin-left: 324px}
.u-section-1 .u-custom-html-1 {width: 752px; height: auto} }

@media (max-width: 991px){ .u-section-1 .u-text-1 {margin-left: 248px}
.u-section-1 .u-custom-html-1 {width: 720px} }

@media (max-width: 767px){ .u-section-1 .u-text-1 {margin-left: 186px}
.u-section-1 .u-custom-html-1 {width: 540px} }

@media (max-width: 575px){ .u-section-1 .u-text-1 {margin-left: 117px}
.u-section-1 .u-custom-html-1 {width: 340px} }.u-section-2 .u-sheet-1 {min-height: 370px}
.u-section-2 .u-text-1 {font-weight: 700; line-height: 1.3; width: 700px; margin: 38px auto 0}
.u-section-2 .u-text-2 {margin: 23px auto 0}
.u-section-2 .u-btn-1 {border-style: none; font-weight: 700; font-size: 1.875rem; letter-spacing: 1px; margin: 40px auto 0 226px; padding: 0}
.u-section-2 .u-btn-2 {border-style: none; font-size: 1.875rem; margin: -105px 226px 60px auto; padding: 0}
.u-section-2 .u-icon-2 {font-size: 1.2em} 

@media (max-width: 1199px){ .u-section-2 .u-text-1 {margin-top: 229px}
.u-section-2 .u-text-2 {margin-top: -191px}
.u-section-2 .u-btn-1 {margin-top: 253px; margin-left: 26px}
.u-section-2 .u-btn-2 {margin-right: 26px} }

@media (max-width: 991px){ .u-section-2 .u-btn-1 {margin-left: 0}
.u-section-2 .u-btn-2 {margin-right: 0} }

@media (max-width: 767px){ .u-section-2 .u-text-1 {width: 540px} }

@media (max-width: 575px){ .u-section-2 .u-sheet-1 {min-height: 367px}
.u-section-2 .u-text-1 {margin-top: 42px; margin-left: 0; margin-right: 0; width: auto}
.u-section-2 .u-text-2 {margin-top: 25px; margin-right: 0}
.u-section-2 .u-btn-1 {align-self: center; margin-top: 98px; margin-left: auto}
.u-section-2 .u-btn-2 {margin: -173px -15px 110px} }