.u-section-1 .u-sheet-1 {min-height: 708px}
.u-section-1 .u-text-1 {margin: 33px auto 0 393px}
.u-section-1 .u-text-2 {margin: 11px auto 0}
.u-section-1 .u-custom-html-1 {min-height: 457px; width: 913px; margin: 51px auto 60px} 

@media (max-width: 1199px){ .u-section-1 .u-text-1 {margin-left: 324px}
.u-section-1 .u-custom-html-1 {width: 752px; height: auto} }

@media (max-width: 991px){ .u-section-1 .u-text-1 {width: auto; margin-left: auto}
.u-section-1 .u-custom-html-1 {width: 512px; margin-top: 43px} }

@media (max-width: 575px){ .u-section-1 .u-custom-html-1 {width: 340px} }.u-section-2 .u-sheet-1 {min-height: 951px}
.u-section-2 .u-text-1 {margin: 60px auto 0}
.u-section-2 .u-text-2 {margin: 20px auto 0}
.u-section-2 .u-list-1 {min-height: 688px; grid-template-columns: repeat(3, calc(33.3333% - 7px)); grid-template-rows: repeat(2, auto); height: auto; grid-gap: 10px; margin: 59px auto 41px 0}
.u-section-2 .u-container-layout-1 {padding: 30px}
.u-section-2 .u-icon-1 {height: 244px; width: 193px; background-image: none; margin: 17px auto 0}
.u-section-2 .u-container-layout-2 {padding: 30px}
.u-section-2 .u-icon-2 {height: 247px; width: 193px; background-image: none; margin: 17px auto 0}
.u-section-2 .u-container-layout-3 {padding: 30px}
.u-section-2 .u-icon-3 {height: 244px; width: 193px; background-image: none; margin: 17px auto 0}
.u-section-2 .u-container-layout-4 {padding: 30px}
.u-section-2 .u-icon-4 {height: 246px; width: 193px; background-image: none; margin: 17px auto 0}
.u-section-2 .u-container-layout-5 {padding: 30px}
.u-section-2 .u-icon-5 {height: 246px; width: 193px; background-image: none; margin: 17px auto 0}
.u-section-2 .u-container-layout-6 {padding: 30px}
.u-section-2 .u-icon-6 {height: 171px; width: 193px; background-image: none; margin: 17px auto 0} 

@media (max-width: 1199px){ .u-section-2 .u-sheet-1 {min-height: 830px}
.u-section-2 .u-list-1 {min-height: 567px; grid-template-columns: repeat(3, calc(33.333333333333336% - 7px)); margin-right: initial; margin-left: initial}
.u-section-2 .u-icon-1 {height: 245px}
.u-section-2 .u-icon-3 {height: 245px}
.u-section-2 .u-icon-6 {height: 172px} }

@media (max-width: 991px){ .u-section-2 .u-sheet-1 {min-height: 1240px}
.u-section-2 .u-list-1 {min-height: 977px; grid-template-columns: repeat(2, calc(((100% - 720px) / 2)  + 355px)); margin-right: initial; margin-left: initial} }

@media (max-width: 767px){ .u-section-2 .u-list-1 {grid-template-columns: repeat(2, calc(((100% - 540px) / 2)  + 265px)); margin-right: initial; margin-left: initial}
.u-section-2 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-container-layout-4 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-container-layout-5 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-container-layout-6 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-2 .u-list-1 {grid-template-columns: 100%; margin-right: initial; margin-left: initial} }.u-section-3 {background-image: none}
.u-section-3 .u-sheet-1 {min-height: 331px}
.u-section-3 .u-text-1 {margin: 78px 43px 0}
.u-section-3 .u-text-2 {font-size: 1.125rem; margin: 28px 43px 60px}
.u-section-3 .u-btn-1 {padding: 0} 

@media (max-width: 1199px){ .u-section-3 .u-text-1 {font-weight: normal; width: 803px; margin-left: 0; margin-right: 0}
.u-section-3 .u-text-2 {width: 803px; margin-left: 0; margin-right: 0} }

@media (max-width: 991px){ .u-section-3 .u-text-1 {width: 720px}
.u-section-3 .u-text-2 {width: 720px} }

@media (max-width: 767px){ .u-section-3 .u-text-1 {width: 540px}
.u-section-3 .u-text-2 {width: 540px} }

@media (max-width: 575px){ .u-section-3 .u-text-1 {width: 340px}
.u-section-3 .u-text-2 {width: 340px} }.u-section-4 .u-sheet-1 {min-height: 370px}
.u-section-4 .u-text-1 {font-weight: 700; line-height: 1.3; width: 700px; margin: 38px auto 0}
.u-section-4 .u-text-2 {margin: 23px auto 0}
.u-section-4 .u-btn-1 {border-style: none; font-weight: 700; font-size: 1.875rem; letter-spacing: 1px; margin: 40px auto 0 226px; padding: 0}
.u-section-4 .u-btn-2 {border-style: none; font-size: 1.875rem; margin: -105px 226px 60px auto; padding: 0}
.u-section-4 .u-icon-2 {font-size: 1.2em} 

@media (max-width: 1199px){ .u-section-4 .u-text-1 {margin-top: 229px}
.u-section-4 .u-text-2 {margin-top: -191px}
.u-section-4 .u-btn-1 {margin-top: 253px; margin-left: 26px}
.u-section-4 .u-btn-2 {margin-right: 26px} }

@media (max-width: 991px){ .u-section-4 .u-sheet-1 {min-height: 481px}
.u-section-4 .u-text-1 {margin-top: 76px; margin-left: 10px; margin-right: 10px}
.u-section-4 .u-text-2 {margin-top: 20px}
.u-section-4 .u-btn-1 {margin-top: 158px; margin-right: 198px; margin-left: auto}
.u-section-4 .u-btn-2 {margin-top: -183px; margin-right: 158px} }

@media (max-width: 767px){ .u-section-4 .u-text-1 {width: 540px; margin-left: 0; margin-right: 0}
.u-section-4 .u-btn-1 {margin-right: 18px}
.u-section-4 .u-btn-2 {margin-right: 0} }

@media (max-width: 575px){ .u-section-4 .u-sheet-1 {min-height: 367px}
.u-section-4 .u-text-1 {margin-top: 42px; width: 340px}
.u-section-4 .u-text-2 {margin-top: 25px; margin-right: 0}
.u-section-4 .u-btn-1 {align-self: center; margin-top: 98px; margin-right: 0}
.u-section-4 .u-btn-2 {margin: -173px -15px 110px} }