.u-section-1 {min-height: 656px}
.u-section-1 .u-group-1 {width: 277px; min-height: 656px; margin: 0 0 0 auto}
.u-section-1 .u-container-layout-1 {padding: 30px}
.u-section-1 .u-social-icons-1 {white-space: nowrap; height: 32px; min-height: 16px; width: 240px; min-width: 160px; animation-duration: 1000ms; margin: 0 auto 0 -23px}
.u-section-1 .u-icon-1 {height: 100%}
.u-section-1 .u-icon-2 {height: 100%}
.u-section-1 .u-icon-3 {height: 100%}
.u-section-1 .u-icon-4 {height: 100%}
.u-section-1 .u-icon-5 {height: 100%}
.u-section-1 .u-layout-wrap-1 {width: calc(((100% - 1140px) / 2) + 1140px); margin: -626px 0 60px auto}
.u-section-1 .u-layout-cell-1 {min-height: 542px}
.u-section-1 .u-container-layout-2 {padding: 30px}
.u-section-1 .u-text-1 {margin-top: 54px; margin-bottom: 0; font-size: 3.75rem; font-weight: 700; text-transform: uppercase; letter-spacing: 4px}
.u-section-1 .u-text-2 {margin-left: 0; margin-bottom: 0}
.u-section-1 .u-form-1 {margin: 30px auto 0 0}
.u-section-1 .u-btn-1 {background-image: none; border-style: none}
.u-section-1 .u-image-1 {min-height: 542px; background-image: url("images/54e8d4444f54ab14f6da8c7dda793678153bdee757596c48732f78d39445c45fbb_1280.jpg"); background-position: 50% 50%}
.u-section-1 .u-container-layout-3 {padding: 30px} 

@media (max-width: 1199px){ .u-section-1 {min-height: 642px}
.u-section-1 .u-group-1 {min-height: 642px}
.u-section-1 .u-container-layout-1 {padding-bottom: 16px}
.u-section-1 .u-social-icons-1 {margin-top: 556px}
.u-section-1 .u-layout-wrap-1 {width: calc(((100% - 940px) / 2) + 940px); margin-top: -582px}
.u-section-1 .u-layout-cell-1 {min-height: 447px}
.u-section-1 .u-image-1 {min-height: 447px} }

@media (max-width: 991px){ .u-section-1 {min-height: 667px}
.u-section-1 .u-group-1 {min-height: 667px}
.u-section-1 .u-social-icons-1 {margin-top: 601px}
.u-section-1 .u-layout-wrap-1 {width: calc(((100% - 720px) / 2) + 720px)}
.u-section-1 .u-layout-cell-1 {min-height: 100px}
.u-section-1 .u-text-1 {font-size: 3rem}
.u-section-1 .u-image-1 {min-height: 342px} }

@media (max-width: 767px){ .u-section-1 {min-height: 1080px}
.u-section-1 .u-group-1 {min-height: 1080px}
.u-section-1 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-social-icons-1 {margin-top: 988px}
.u-section-1 .u-layout-wrap-1 {width: calc(((100% - 540px) / 2) + 540px); margin-top: -1020px}
.u-section-1 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-text-2 {width: auto; margin-top: 20px; margin-right: 212px}
.u-section-1 .u-form-1 {margin-right: 0}
.u-section-1 .u-image-1 {min-height: 451px}
.u-section-1 .u-container-layout-3 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-1 {min-height: 988px}
.u-section-1 .u-group-1 {width: calc(((100% - 340px) / 2) + 112px); min-height: 988px}
.u-section-1 .u-social-icons-1 {margin-top: 909px}
.u-section-1 .u-layout-wrap-1 {width: calc(((100% - 340px) / 2) + 340px); margin-top: -928px}
.u-section-1 .u-text-1 {font-size: 1.875rem; width: auto; margin-right: 130px; margin-left: 0}
.u-section-1 .u-text-2 {margin-right: 165px}
.u-section-1 .u-form-group-1 {width: 100%}
.u-section-1 .u-form-group-2 {width: 100%}
.u-section-1 .u-form-group-3 {width: 100%}
.u-section-1 .u-form-group-4 {width: 100%}
.u-section-1 .u-image-1 {min-height: 284px} }