.u-section-1 .u-sheet-1 {min-height: 655px}
.u-section-1 .u-layout-wrap-1 {margin: 60px 0}
.u-section-1 .u-layout-cell-1 {min-height: 565px}
.u-section-1 .u-shape-1 {width: 558px; height: 406px; background-image: none; margin: 65px 53px 0 61px}
.u-section-1 .u-image-1 {width: 570px; height: 417px; object-position: 0% 100%; margin: -470px 0 0}
.u-section-1 .u-image-2 {width: 427px; height: 285px; object-position: 38.29% 50%; margin: -167px 0 0 auto}
.u-section-1 .u-layout-cell-2 {min-height: 565px}
.u-section-1 .u-container-layout-2 {padding: 30px}
.u-section-1 .u-text-1 {font-weight: 700; margin: 117px 0 0}
.u-section-1 .u-text-2 {margin: 20px 41px 0 0}
.u-section-1 .u-btn-1 {font-weight: 700; margin: 17px auto 0 0} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 536px}
.u-section-1 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-1 .u-layout-cell-1 {min-height: 446px}
.u-section-1 .u-shape-1 {width: 469px; height: 303px; margin-top: 72px; margin-right: 32px; margin-left: 51px}
.u-section-1 .u-image-1 {width: 476px; height: 332px; margin-top: -374px}
.u-section-1 .u-image-2 {width: 264px; height: 185px; margin-top: -101px; margin-left: 288px}
.u-section-1 .u-layout-cell-2 {min-height: 446px}
.u-section-1 .u-container-layout-2 {padding-right: 0; padding-left: 25px}
.u-section-1 .u-text-1 {margin-right: 16px}
.u-section-1 .u-text-2 {margin-right: 49px} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 454px}
.u-section-1 .u-layout-cell-1 {min-height: 364px}
.u-section-1 .u-shape-1 {width: 348px; height: 227px; margin-right: 33px; margin-left: 39px}
.u-section-1 .u-image-1 {width: 356px; height: 265px; margin-top: -298px}
.u-section-1 .u-image-2 {width: 210px; height: 164px; margin-top: -93px; margin-left: 210px}
.u-section-1 .u-layout-cell-2 {min-height: 364px}
.u-section-1 .u-container-layout-2 {padding-left: 30px}
.u-section-1 .u-text-1 {margin-right: 22px}
.u-section-1 .u-text-2 {margin-right: 37px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 820px}
.u-section-1 .u-layout-cell-1 {min-height: 499px}
.u-section-1 .u-shape-1 {width: 451px; height: 358px; margin-top: 65px; margin-left: auto; margin-right: auto}
.u-section-1 .u-image-1 {width: 454px; height: 374px; margin-top: -423px; margin-right: auto}
.u-section-1 .u-image-2 {width: 317px; height: 281px; margin-top: -155px; margin-bottom: 1px; margin-left: auto}
.u-section-1 .u-layout-cell-2 {min-height: 231px}
.u-section-1 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-text-1 {margin-right: 7px}
.u-section-1 .u-text-2 {margin-right: 0} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 663px}
.u-section-1 .u-layout-cell-1 {min-height: 351px}
.u-section-1 .u-shape-1 {width: 300px; height: 245px; margin-top: 47px}
.u-section-1 .u-image-1 {width: 287px; height: 256px; margin-top: -290px}
.u-section-1 .u-image-2 {width: 238px; height: 186px; margin-top: -122px; margin-left: 102px}
.u-section-1 .u-layout-cell-2 {min-height: 330px}
.u-section-1 .u-text-1 {margin-top: 5px; margin-right: 5px}
.u-section-1 .u-text-2 {margin-left: 6px; margin-right: 6px} }.u-section-2 .u-sheet-1 {min-height: 691px}
.u-section-2 .u-image-1 {width: 534px; min-height: 804px; background-image: url("images/pexels-photo-4930018.jpeg"); background-position: 50% 50%; margin: 0 auto 0 -36px}
.u-section-2 .u-container-layout-1 {padding: 30px}
.u-section-2 .u-group-2 {width: 471px; min-height: 219px; box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2); margin: 326px -67px 0 auto}
.u-section-2 .u-container-layout-2 {padding: 30px}
.u-section-2 .u-text-1 {font-size: 3.75rem; margin: 0}
.u-section-2 .u-btn-1 {background-image: none; border-style: none none solid; margin-left: auto; margin-right: auto; font-weight: 700; margin-bottom: 0; padding: 0}
.u-section-2 .u-list-1 {width: 617px; min-height: 624px; grid-template-columns: calc(((100% - 1140px) / 2) + 565px) calc(((100% - 1140px) / 2) + 565px); grid-gap: 10px 10px; margin: -771px 0 34px auto}
.u-section-2 .u-container-layout-3 {padding: 10px}
.u-section-2 .u-image-2 {height: 135px; width: 134px; margin: 0 0 0 auto}
.u-section-2 .u-text-2 {margin: 33px 1px 0}
.u-section-2 .u-text-3 {text-transform: uppercase; font-weight: 700; margin: 33px 18px 0 99px}
.u-section-2 .u-container-layout-4 {padding: 10px}
.u-section-2 .u-image-3 {height: 135px; width: 134px; margin: 0 0 0 auto}
.u-section-2 .u-text-4 {margin: 33px 1px 0}
.u-section-2 .u-text-5 {text-transform: uppercase; font-weight: 700; margin: 33px 18px 0 99px}
.u-section-2 .u-container-layout-5 {padding: 10px}
.u-section-2 .u-image-4 {height: 135px; width: 134px; margin: 0 0 0 auto}
.u-section-2 .u-text-6 {margin: 33px 1px 0}
.u-section-2 .u-text-7 {text-transform: uppercase; font-weight: 700; margin: 33px 18px 0 99px}
.u-section-2 .u-container-layout-6 {padding: 10px}
.u-section-2 .u-image-5 {height: 135px; width: 134px; margin: 0 0 0 auto}
.u-section-2 .u-text-8 {margin: 33px 1px 0}
.u-section-2 .u-text-9 {text-transform: uppercase; font-weight: 700; margin: 33px 18px 0 99px} 

@media (max-width: 1199px){ .u-section-2 .u-sheet-1 {min-height: 419px}
.u-section-2 .u-image-1 {width: 436px; min-height: 856px}
.u-section-2 .u-list-1 {width: 470px; min-height: 338px; grid-template-columns: repeat(2, calc(((100% - 940px) / 2)  + 465px)); height: auto; margin-top: -823px}
.u-section-2 .u-image-2 {height: 214px}
.u-section-2 .u-image-3 {height: 214px}
.u-section-2 .u-text-4 {margin-top: -117px}
.u-section-2 .u-image-4 {height: 214px}
.u-section-2 .u-image-5 {height: 214px}
.u-section-2 .u-text-8 {margin-top: -117px} }

@media (max-width: 991px){ .u-section-2 .u-sheet-1 {min-height: 1302px}
.u-section-2 .u-image-1 {min-height: 611px; width: 561px; margin-left: 75px}
.u-section-2 .u-group-2 {width: 508px; min-height: 265px; margin-top: 392px; margin-bottom: -59px}
.u-section-2 .u-list-1 {grid-template-columns: repeat(2, calc(((100% - 720px) / 2)  + 355px)); margin-top: 65px; margin-bottom: 60px; margin-right: initial; margin-left: initial; width: auto}
.u-section-2 .u-text-2 {margin-top: 35px}
.u-section-2 .u-text-3 {width: auto; margin-top: 31px; margin-right: 16px; margin-left: 140px}
.u-section-2 .u-text-4 {margin-top: 35px}
.u-section-2 .u-text-5 {width: auto; margin-top: 31px; margin-right: 16px; margin-left: 140px}
.u-section-2 .u-text-6 {margin-top: 35px}
.u-section-2 .u-text-7 {width: auto; margin-top: 31px; margin-right: 16px; margin-left: 140px}
.u-section-2 .u-text-8 {margin-top: 35px}
.u-section-2 .u-text-9 {width: auto; margin-top: 31px; margin-right: 16px; margin-left: 140px} }

@media (max-width: 767px){ .u-section-2 .u-sheet-1 {min-height: 837px}
.u-section-2 .u-image-1 {width: 540px; margin-left: -36px}
.u-section-2 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-list-1 {grid-template-columns: repeat(2, calc(((100% - 540px) / 2)  + 265px)); width: auto; margin-right: initial; margin-left: initial}
.u-section-2 .u-text-2 {margin-left: 0; margin-right: 0}
.u-section-2 .u-text-3 {margin-left: 40px; margin-right: 20px}
.u-section-2 .u-text-4 {margin-left: 0; margin-right: 0}
.u-section-2 .u-text-5 {margin-left: 40px; margin-right: 20px}
.u-section-2 .u-text-6 {margin-left: 0; margin-right: 0}
.u-section-2 .u-text-7 {margin-left: 40px; margin-right: 20px}
.u-section-2 .u-text-8 {margin-left: 0; margin-right: 0}
.u-section-2 .u-text-9 {margin-left: 40px; margin-right: 20px} }

@media (max-width: 575px){ .u-section-2 .u-sheet-1 {min-height: 2262px}
.u-section-2 .u-image-1 {width: 340px; margin-left: 0}
.u-section-2 .u-group-2 {margin-top: 457px; margin-right: initial; margin-left: initial; width: auto}
.u-section-2 .u-text-1 {width: auto; margin-right: 7px; font-size: 3rem}
.u-section-2 .u-btn-1 {margin-top: 20px}
.u-section-2 .u-list-1 {min-height: 1762px; grid-template-columns: 100%; margin-bottom: 0; width: auto; margin-right: initial; margin-left: initial}
.u-section-2 .u-text-2 {width: auto; margin-top: 25px; margin-right: 6px; margin-left: -6px}
.u-section-2 .u-text-3 {margin-top: 7px; margin-left: 6px; margin-right: 6px}
.u-section-2 .u-text-4 {width: auto; margin-top: 25px; margin-right: 6px; margin-left: -6px}
.u-section-2 .u-text-5 {margin-top: 7px; margin-left: 6px; margin-right: 6px}
.u-section-2 .u-text-6 {width: auto; margin-top: 25px; margin-right: 6px; margin-left: -6px}
.u-section-2 .u-text-7 {margin-top: 7px; margin-left: 6px; margin-right: 6px}
.u-section-2 .u-text-8 {width: auto; margin-top: 25px; margin-right: 6px; margin-left: -6px}
.u-section-2 .u-text-9 {margin-top: 7px; margin-left: 6px; margin-right: 6px} }.u-section-3 {background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/53e9d1424950b108f5d084609629317e113fdce15b4c704f752a73d79449cd5c_1280.jpg"); background-position: 50% 50%}
.u-section-3 .u-sheet-1 {min-height: 533px}
.u-section-3 .u-text-1 {text-transform: uppercase; font-size: 6rem; font-weight: 700; margin: 70px auto 0}
.u-section-3 .u-text-2 {width: 889px; font-size: 2.25rem; margin: 30px auto 0}
.u-section-3 .u-btn-1 {background-image: none; text-transform: uppercase; font-weight: 700; margin: 37px auto 60px} 

@media (max-width: 1199px){ .u-section-3 .u-sheet-1 {min-height: 800px}
.u-section-3 .u-text-1 {margin-left: 0; margin-right: 0}
.u-section-3 .u-text-2 {margin-right: 46px}
.u-section-3 .u-btn-1 {margin-left: 0} }

@media (max-width: 991px){ .u-section-3 .u-text-2 {margin-right: 35px; width: 720px} }

@media (max-width: 767px){ .u-section-3 .u-sheet-1 {min-height: auto}
.u-section-3 .u-text-2 {margin-right: 26px; width: 540px} }

@media (max-width: 575px){ .u-section-3 .u-text-2 {margin-right: 16px; width: 340px} }.u-section-4 {min-height: 480px}
.u-section-4 .u-sheet-1 {min-height: 916px}
.u-section-4 .u-image-1 {width: 534px; min-height: 804px; background-image: url("images/50e2d54b4850b108f5d084609629317e113fdce15b4c704f752b7fd19e45c759_1280.jpg"); background-position: 50% 50%; margin: 42px -36px 0 auto}
.u-section-4 .u-container-layout-1 {padding: 30px}
.u-section-4 .u-group-2 {width: 372px; min-height: 219px; box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2); margin: 420px auto 0 16px}
.u-section-4 .u-container-layout-2 {padding: 30px}
.u-section-4 .u-text-1 {font-size: 4.5rem; margin: 0}
.u-section-4 .u-btn-1 {background-image: none; border-style: none none solid; margin-left: auto; margin-right: auto; font-weight: 700; margin-bottom: 0; padding: 0}
.u-section-4 .u-list-1 {width: 617px; min-height: 826px; grid-template-columns: calc(((100% - 1140px) / 2) + 565px) calc(((100% - 1140px) / 2) + 565px); grid-gap: 10px 10px; margin: -773px auto 17px 0}
.u-section-4 .u-container-layout-3 {padding: 10px}
.u-section-4 .u-image-2 {height: 134px; width: 134px; margin: 0 auto 0 150px}
.u-section-4 .u-text-2 {margin: 25px 3px 0 0}
.u-section-4 .u-text-3 {text-transform: uppercase; font-weight: 700; margin: 32px 19px 0 112px}
.u-section-4 .u-container-layout-4 {padding: 10px}
.u-section-4 .u-image-3 {height: 134px; width: 134px; margin: 0 auto 0 150px}
.u-section-4 .u-text-4 {margin: 25px 3px 0 0}
.u-section-4 .u-text-5 {text-transform: uppercase; font-weight: 700; margin: 32px 19px 0 112px}
.u-section-4 .u-container-layout-5 {padding: 10px}
.u-section-4 .u-image-4 {height: 134px; width: 134px; margin: 0 auto 0 150px}
.u-section-4 .u-text-6 {margin: 25px 3px 0 0}
.u-section-4 .u-text-7 {text-transform: uppercase; font-weight: 700; margin: 32px 19px 0 112px}
.u-section-4 .u-container-layout-6 {padding: 10px}
.u-section-4 .u-image-5 {height: 134px; width: 134px; margin: 0 auto 0 150px}
.u-section-4 .u-text-8 {margin: 25px 3px 0 0}
.u-section-4 .u-text-9 {text-transform: uppercase; font-weight: 700; margin: 32px 19px 0 112px} 

@media (max-width: 1199px){ .u-section-4 .u-sheet-1 {min-height: 766px}
.u-section-4 .u-image-1 {width: 436px; min-height: 856px}
.u-section-4 .u-list-1 {width: 470px; min-height: 447px; grid-template-columns: repeat(2, calc(((100% - 940px) / 2)  + 465px)); height: auto}
.u-section-4 .u-image-2 {height: 214px}
.u-section-4 .u-image-3 {height: 214px}
.u-section-4 .u-text-4 {margin-top: -117px}
.u-section-4 .u-image-4 {height: 214px}
.u-section-4 .u-image-5 {height: 214px}
.u-section-4 .u-text-8 {margin-top: -117px} }

@media (max-width: 991px){ .u-section-4 {min-height: 101px}
.u-section-4 .u-sheet-1 {min-height: 1508px}
.u-section-4 .u-image-1 {min-height: 612px; width: 561px; margin-right: 32px}
.u-section-4 .u-group-2 {margin-top: 392px; margin-bottom: -59px}
.u-section-4 .u-list-1 {grid-template-columns: calc(((100% - 720px) / 2) + 355px) calc(((100% - 720px) / 2) + 355px); margin-top: 20px; margin-bottom: 0; margin-right: initial; margin-left: initial; width: auto}
.u-section-4 .u-text-2 {width: auto; margin-top: 0}
.u-section-4 .u-text-3 {width: auto; margin-right: 25px; margin-left: 141px}
.u-section-4 .u-text-4 {width: auto; margin-top: 0}
.u-section-4 .u-text-5 {width: auto; margin-right: 25px; margin-left: 141px}
.u-section-4 .u-text-6 {width: auto; margin-top: 0}
.u-section-4 .u-text-7 {width: auto; margin-right: 25px; margin-left: 141px}
.u-section-4 .u-text-8 {width: auto; margin-top: 0}
.u-section-4 .u-text-9 {width: auto; margin-right: 25px; margin-left: 141px} }

@media (max-width: 767px){ .u-section-4 {min-height: 837px}
.u-section-4 .u-sheet-1 {min-height: 837px}
.u-section-4 .u-image-1 {width: 540px; margin-right: 225px}
.u-section-4 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-text-1 {font-size: 3.75rem}
.u-section-4 .u-list-1 {grid-template-columns: calc(((100% - 540px) / 2) + 265px) calc(((100% - 540px) / 2) + 265px); margin-bottom: 60px; width: auto; margin-right: initial; margin-left: initial}
.u-section-4 .u-text-3 {margin-left: 54px; margin-right: 20px}
.u-section-4 .u-text-5 {margin-left: 54px; margin-right: 20px}
.u-section-4 .u-text-7 {margin-left: 54px; margin-right: 20px}
.u-section-4 .u-text-9 {margin-left: 54px; margin-right: 20px} }

@media (max-width: 575px){ .u-section-4 {min-height: 101px}
.u-section-4 .u-sheet-1 {min-height: 2175px}
.u-section-4 .u-image-1 {min-height: 644px; margin-top: 30px; margin-right: initial; margin-left: initial; width: auto}
.u-section-4 .u-group-2 {min-height: 154px; margin-top: 457px; margin-right: initial; margin-left: initial; width: auto}
.u-section-4 .u-text-1 {font-size: 4.5rem}
.u-section-4 .u-list-1 {min-height: 1871px; grid-template-columns: 100%; margin-top: 32px; margin-bottom: 0; width: auto; margin-right: initial; margin-left: initial}
.u-section-4 .u-image-2 {height: 182px; margin-right: 36px; margin-left: auto}
.u-section-4 .u-text-2 {margin-top: 45px; margin-right: 0}
.u-section-4 .u-text-3 {margin-top: 20px; margin-left: 6px; margin-right: 6px}
.u-section-4 .u-image-3 {height: 182px; margin-right: 36px; margin-left: auto}
.u-section-4 .u-text-4 {margin-top: 45px; margin-right: 0}
.u-section-4 .u-text-5 {margin-top: 20px; margin-left: 6px; margin-right: 6px}
.u-section-4 .u-image-4 {height: 182px; margin-right: 36px; margin-left: auto}
.u-section-4 .u-text-6 {margin-top: 45px; margin-right: 0}
.u-section-4 .u-text-7 {margin-top: 20px; margin-left: 6px; margin-right: 6px}
.u-section-4 .u-image-5 {height: 182px; margin-right: 36px; margin-left: auto}
.u-section-4 .u-text-8 {margin-top: 45px; margin-right: 0}
.u-section-4 .u-text-9 {margin-top: 20px; margin-left: 6px; margin-right: 6px} }.u-section-5 .u-sheet-1 {min-height: 538px}
.u-section-5 .u-shape-1 {width: 537px; height: 537px; margin: 1px 0 0 auto}
.u-section-5 .u-group-1 {width: 800px; min-height: 382px; margin: -460px auto 60px}
.u-section-5 .u-container-layout-1 {padding: 30px}
.u-section-5 .u-text-1 {text-transform: uppercase; letter-spacing: 7px; line-height: 1; font-weight: 400; margin: 31px 0 0}
.u-section-5 .u-text-2 {font-size: 3.75rem; font-weight: 700; margin: 27px 0 0}
.u-section-5 .u-text-3 {margin: 28px 0 0}
.u-section-5 .u-btn-1 {border-style: none; font-weight: 700; text-transform: uppercase; font-size: 0.875rem; background-image: none; margin: 30px auto 0; padding: 15px 49px 15px 48px} 

@media (max-width: 1199px){ .u-section-5 .u-group-1 {width: 660px} }

@media (max-width: 991px){ .u-section-5 .u-sheet-1 {min-height: 713px}
.u-section-5 .u-shape-1 {width: 596px; height: 596px; margin-top: 60px; margin-right: -143px}
.u-section-5 .u-group-1 {min-height: 519px; margin-top: -578px; margin-bottom: 119px} }

@media (max-width: 767px){ .u-section-5 .u-sheet-1 {min-height: 717px}
.u-section-5 .u-group-1 {min-height: 544px; margin-top: -561px; margin-bottom: 77px; margin-right: initial; margin-left: initial; width: auto}
.u-section-5 .u-container-layout-1 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-5 .u-sheet-1 {min-height: 728px}
.u-section-5 .u-shape-1 {width: 469px; height: 519px; margin-top: 57px; margin-right: -174px}
.u-section-5 .u-group-1 {min-height: 615px; margin-top: -567px; margin-bottom: 9px; width: auto; margin-right: initial; margin-left: initial}
.u-section-5 .u-text-2 {font-size: 2.25rem} }